.login-signin input {
    border-radius: 2rem;
    border: unset;
}

.login-form{
    background-color: #0f0136;
    border-radius: 2rem;
    -webkit-box-shadow: 5px 5px 10px 0 #000000;
    box-shadow: 5px 5px 10px 0 #000000;
}

@media only screen and (min-width: 0px)  and (max-width: 425px) {
    .login-form{
        box-shadow: unset;
    }
}